<section id="search" class="search-wrap">
    <h1>Find A Coding Job</h1>
    <form action="/jobs/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Javascript, PHP, Python, etc...">
        <input type="submit" value="Search">
    </form>
</section>